body{
  background-size: cover;
  background-image: url('../img/cartoon_castle_2.jpg');
}

#inPlay{
  width: 35vw;
}


#inGod{
  display: flex;
  flex-direction: column;
}

#inGodHeader{
  padding-top: 30vh;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'lato';
  color: white;
}

#inGodSubHeader{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'lato';
  color: white;
}
#inGodDownArrowLink{
  padding-top: 10px;
  padding-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
}

#inGodDownArrow{
  width: 30px;
  height: 20px;
}

.inLeftStrip{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}

.inLeftStripBody{
  display: flex;
  flex-direction: column;
}

.inLeftStripText{
  margin-top: auto;
  margin-bottom: auto;
  background-image: url('../img/greybackground.png');
  flex-grow: 1;
  text-align: center;
  font-family: 'lato';
  color: white;
}

.inRightStrip{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-bottom: 50px;
}

.inRightStripBody{
  display: flex;
  flex-direction: column;
}

.inRightStripText{
  text-align: center;
  flex-grow: 1;
  background-image: url('../img/greybackground.png');
  font-family: 'lato';
  color: white;
}

.inRightStripImage{
  /* flex-grow: 1; */
}

.inStripSmallText{
  width: 521px;
}
